p{
    text-align: center;
}
h1{
    text-align: center;
    /* text-decoration: line-through; */
    text-decoration: dotted underline;
    text-decoration: wavy underline;
    text-decoration: indianred underline;
}